[Unit]
Description=gddns dynamic DNS update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gddns
User=nobody
Group=nogroup
WorkingDirectory=/etc/gddns/
StandardOutput=journal
StandardError=journal